<!DOCTYPE html>
<html>
<head>
  
  <link type="text/css" rel="stylesheet" href="/static/font-awesome/css/font-awesome.min.css" />
  
  
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <link type="text/css" rel="stylesheet" href="/static/main.css" />
  <link rel="stylesheet" href="/static/style.css">

  <title>Udacity MultiUser Blog</title>
</head>

<body>

  <div class="wrapper">
			<div class="container">
				<nav class="navbar navbar-inverse navbar-static-top">
					<div class="container">
        				<div class="navbar-header">
        					<a href="/" class="navigation-title">
								<!-- <img class="title__image" src="/static/images/compose.svg" alt=""> -->
								{% if user %}
									<h1 class="title-text">Welcome, {{user.name}}!</h1>
								{% else %}
									<h1 class="title-text">Udacity Multi-User-Blog</h1>
								{% endif %}
							</a>
            				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                				<span class="sr-only">Toggle navigation</span>
                				<span class="icon-bar"></span>
                				<span class="icon-bar"></span>
               					<span class="icon-bar"></span>
            					</button>
        				</div> 
        				<!-- Collect the nav links, forms, and other content for toggling -->
        				<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
							<ul class="nav navbar-nav navigation-list">

							{% if user %}
								<li class="item-list">
									<a href="/logout" class="item-list-link">Sign out</a>
								</li>
							{% else %}
								<li class="item-list">
									<a href="/signup" class="item-list-link">Sign up</a>
								</li>
								<li class="item-list">
									<a href="/login" class="item-list-link">Sign in</a>
								</li>
							{% endif %}
							</ul>
						</div>
				    </div>
				</nav>
			{% if user %}
				<a href="/newpost" class="item-list-link">
					<button type="button" id="newpost" class="button newpost">New Post</button>
				</a>
			{% endif %}

	<div id="content" class="post-content-block">
		{% block content %}
		{{error}}
		{% endblock %}
	</div>

</body>

</html>
