{% extends "base.html" %}

{% block content %}
  
    <div class="editpost">
        <div class="editpost__form">
            <form method="post" autocomplete="off">
                <input autofocus class="form-input" placeholder="Title" type="text" name="subject" value="{{subject}}">
                <textarea class="form-textarea" type="text" name="content">{{content}}</textarea>
                <br>
                <a href="/{{post_id}}">
                    <button class="button form-cancel">back</button>
                </a>
                <input class="button form-submit" type="submit" value="save">
                <span class="form-message">{{error}}</span>
            </form>
        </div>
    </div>

  
{% endblock %}