{% extends "base.html" %}

{% block content %}
  
	{{post.render(None) | safe}}

	<div class="post-options-container">
	{% if user and user.key().id() == post.user_id %}
		<a href="/{{post.key().id()}}/deletepost/{{post.user_id}}">
			<div><i class="fa fa-trash-o post-options" aria-hidden="true"></i></div>
		</a>
		<a href="/{{post.key().id()}}/editpost">
			<div><i class="fa fa-pencil post-options" aria-hidden="true"></i></div>
		</a>
		

	{% endif %}

	{% if user %}
		<a href="/{{post.key().id()}}/addcomment/{{user.key().id()}}">
			<div><i class="fa fa-commenting-o post-options" aria-hidden="true"></i></div>
		</a>
	{% endif %}

	{% if user and liked %}
			<a href="/{{post.key().id()}}/unlike"> 
				<i class="fa fa-heart post-options" aria-hidden="true"></i>
			</a>

		{% else %}
			<a href="/{{post.key().id()}}/like">
				<i class="fa fa-heart-o post-options" aria-hidden="true"></i>
			</a>

	{% endif %}
	</div>

	<div class="comments">
		{% if comments %}
			<h1>Comments:</h1>
			{% endif %}
		{% for c in comments %}
			<div class="comment">
				<div class="comment-container">
					<div class="comment-details">
						<div class="comment-author">
							{{post.by_user_id(c.user_id).name}}
						</div>
						<div class="comment-date">
							{{c.created_at.strftime("%b %d, %Y")}}
						</div>
					</div>
				</div>
				<p class="comment-content">
					{{ c.content }}
				</p>
				<div class="author-options">
					{% if user and user.key().id() == c.user_id %}
						<a href="/{{post.key().id()}}/{{c.user_id}}/editcomment/{{ c.key().id() }}">
							<div class="comment icon">
								<i class="fa fa-pencil" aria-hidden="true"></i>
							</div>
						</a>
						<a href="/{{post.key().id()}}/{{c.user_id}}/deletecomment/{{ c.key().id() }}">
							<div class="comment icon">
								<i class="fa fa-trash-o" aria-hidden="true"></i>
							</div>
						</a>
					{% endif %}
				</div>
			</div>
		<!--  {{ c.render(c) | safe }}  -->
		{% endfor %}
	</div>

	{{error}}

{% endblock %}